:root {
    --page-color: #FFFFFF;
    --hero-color: #2E2F42;
    --logo-color: #4D5AE5;
    --color: #434455;
    --logo-background: #F4F4FD;
}

.main-page {}

.body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

img {
    display: block;
}

p {
    padding: 0;
}

/* Resets */
h1,
h2,
h3,
h4,
h5,
p
{
    margin: 0;
}

.list,
ul,
ol {
    list-style: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link,
a {
    text-decoration: none;
    color: currentColor;
}

.btn,
button {
    font-family: inherit;
    cursor: pointer;
}

/*Base styles*/
.header {
    border-bottom: 1px solid #e7e9fc;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
  

}


.header-logo-stydio {
    color: #2E2F42;
}

.header-list {
    display: flex;
    gap: 40px;
    list-style: none;
}
.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    color: #404bbf;
   
}
.header-item-stydio {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative; 
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item-stydio:hover {
    text-decoration: none;
    color: #404bbf;
}
.header-item-stydio:focus {
    color: #404bbf;
}
.header-item-stydio::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px; 
    height: 4px;
    background-color: #404bbf; 
    border-radius: 2px;
}
.header-item-st {
    color: #2E2F42 ;
}
.address {
    margin-left: auto;
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-item {
    color: #404bbf;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.address-link ::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


/*Main block*/
.main {
}

/*Hero image*/
.section-hero {
     padding: 188px 0;
     margin: 0 auto;
    background-color: #2e2f42;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    max-width: 1440px;
    background-position: center;
}

.container {

  
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;

    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;


}

.hero-btn {
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4D5AE5;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}


/*Section 1*/
.section {
    padding: 120px 0;
    background-color: #FFFFFF;
}

.container {
   
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    
}



.section-list {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}


.section-item-hero {
    width: calc((100% - 72px) / 4);

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.section-title {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-pr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*Our Team section*/
.section-team {
    padding: 120px 0;
    background-color: #F4F4FD;

}
.container-team {
    width: 1158px;
    margin: 0 auto;
    
    padding: 32px 0;
}

.section-team-our-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-team-list {
    display: flex;
    gap: 24px;

}

.section-team-item {
   
   display: inline-flex;

flex-direction: column;
justify-content: center;
align-items: center;

   border-radius: 0px 0px 4px 4px;
   background-color: #FFFFFF;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}
.section-team-img {
   display: block;
}
.name {
    display: flex;
width: 232px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
    padding: 32px 0;
}
.section-team-title {
    text-align: center;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
   
    color: #2E2F42;
}

.section-team-pr {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.list-insta {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-insta-instagram {
    width: 40px;
    height: 40px;
}

.instagram {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.instagram:hover {
    background-color: #404bbf;
}

.instagram:focus {
    background-color: #404bbf;
}
.inst-svg {
    width: 40px;
height: 40px;
flex-shrink: 0;
    fill: #f4f4fd;
}
/*Portfolio*/
.section-team {
    padding: 120px 0;  
    border: 1px solid rgba(231, 233, 252, 1); 
}
.section-team-our-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-team-list {
    display: flex;
    gap: 24px;

}
.section-list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.section-item {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-item:hover {
   
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.section-item:hover .portfolio-p {
    transform: translateY(0%);
}



    .portfolio-img {
        position: relative;
        overflow: hidden;
       }
   .portfolio-p {
    position: absolute;
         top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
         padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
     
.names {
    display: flex;
padding: 0px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
align-self: stretch;
    
   
}

.section-title {
    margin-bottom: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-pr {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-pr:hover {
    transform: translateY(0%);
}
/*Footer*/
.footer {
    padding: 100px 0;
    background: #2E2F42;
   
    align-items: baseline;
    margin-right: 120px;
    width: 1440px;
 height: 312px;
 top: 2288px;
}
.footer-c {
    display: flex; 
    align-items: baseline;
    width: 1158px;
    padding: 0 15px;
   margin: 0 auto;
}


.cont-footer {
    width: 264px;
height: 112px;
flex-shrink: 0;
top: 3088px;
left: 156px;
margin-right: 120px;


}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-link-stydio {
 
    color: #F4F4FD;
    display: inline-block;
  
  
}

.footer-pr {
   width: 264px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD; 
}
.f-media {
  

}

.s-media {

font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}

.list-s {
    display: flex;
    gap: 16px;
}

.list-s-media {
    width: 40px;
    height: 40px; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media:hover {
    background-color: #31d0aa;
}

.footer-media:focus {
    background-color: #31d0aa;
}
.footer-svg {
    width: 40px;
height: 40px;
flex-shrink: 0;
    fill: #F4F4FD
}